.background {
  background-image: url("../../images/pagerr.jpg"); /* The image used */
  
  height: 650px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.text{
   
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Josefin Sans',cursive;
    margin-top: 20px;


  }

 .heading {
    
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
    font-style: bold;
    font-family: 'Josefin Sans',cursive;
    margin-top: 200px;
  }

  .about-text-heading {
    
    text-align: center;
    color: black;
    font-size: 35px;
    font-style: bold;
    font-family: 'Josefin Sans',cursive;
    margin-top: 300px;
    margin-left: 100px;
  }

  .about-text {
    
    text-align: center;
    color: black;
    font-size: 20px;
    margin-left: 100px;
    font-family: 'Josefin Sans',cursive;
    margin-top: 10px;

  }

   .about-button {
    
    
    left: 52%;
    margin-top: 30px;
    font-family: 'Josefin Sans',cursive;
    border-radius: 25%;
    

  }

  .header-button {
    
    
    left: 47%;
    margin-top: 30px;
    font-family: 'Josefin Sans',cursive;
    border-radius: 25%;
    

  }

   
  .signup-button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.signup-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signup-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signup-button:hover span {
  padding-right: 25px;
}

.signup-button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer-background {


}